  <div>
    <div class="col2">
    <input  class="" type="text" ng-model="param.name" name="paName" placeholder="Parameter Name"/>
    <p ng-show="form.$submitted || form.paName.$touched">
  <span ng-show="form.paName.$error.required">Name required.</span>
    </p>

    </div>
    <div class="col2">

    <input  class="" type="text" ng-model="param.value" name="param.value" placeholder="Parameter Value"/>
         <button class="btn-default" ng-click="vm.addParam(param)">Add Param</button>
    </div>
    <div ng-repeat="item in vm.params track by $index">
      <div ng-repeat="(key,value) in item track by $index">
        <div class="col2"><span ng-bind="key"></span>
        </div>
        <div class="col2"><span ng-bind="value"></span>
        </div>
      </div>
    </div>

  </div>
