  <div>
<p style="font-size:16px;font-weight:bold">Parameters</p>
<div class="mdl_grid items">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="fem-card mdl-card ">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input  class="mdl-textfield__input" type="text" autocomplete="off"  name="paramName" ng-model="param.name"/>
              <label class="mdl-textfield__label" for="paramValue">Parameter Name</label>
            </div>
            <p ng-show="form.$submitted || form.paName.$touched">
          <span ng-show="form.paName.$error.required">Name required.</span>
            </p>



           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input  class="mdl-textfield__input" type="text" autocomplete="off"  name="paramValue" ng-model="param.value"/>
              <label class="mdl-textfield__label" for="paramValue">Parameter Value</label>
            </div>
               <div class="mdl-card__menu">

            <button  ng-click="vm.addParam(param)" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect ">
                        <i class="material-icons">add</i></button>
             </div>

</div>
</div>
<div class="mdl-cell mdl-cell--12-col">


    <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
  <thead>
    <tr>
    <th class="mdl-data-table__cell--non-numeric">&nbsp;</th>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Value</th>
    </tr>
  </thead>
  <tbody>

    <tr  ng-repeat="item in vm.params track by $index">
        <td class="mdl-data-table__cell--non-numeric">
        <button  ng-click="vm.removeParam(item)" class="mdl-button mdl-button--icon  mdl-button--accent">
        <i class="material-icons">remove_circle</i></button>
        <td class="mdl-data-table__cell--non-numeric" ng-bind="item.name"></td>
        <td class="mdl-data-table__cell--non-numeric" ng-bind="item.value"></td>
    </tr>
    </div>
    </tbody>
    </table>

    </div>
    </div>
  </div>


