@import '../styles'
@import url('http://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en');

body
  background-color bg-color
  font-family 'Open Sans', sans-serif;

h1,h2
  font-family 'Open Sans', sans-serif;

.nav, .pagination, .carousel, .panel-title a
  cursor: pointer
.content .mdl-layout__header
  background-color  header-color


.content .mdl-spinner
  margin: 0 auto

.mdl-layout-title
  color white
.mdl-layout__header-row .mdl-navigation__link
  color white
  font-size 13px
  font-weight bold
  line-height 13px
  text-transform uppercase

.mdl-navigation__link--icon>.material-icons
  margin-right: 8px
  margin-top: 8px

.page-content
  max-width: 960px
  width: 100%
  margin: 0 auto
  padding: 0

.fem-card.mdl-card
  width: 100%
  min-height: inherit
  cursor: pointer

.fem-card .mdl-textfield
  width: 100%;

.fem-card .mdl-textfield__input
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .12)
  display: block
  font-size: 16px
  margin: 0
  padding: 4px 0
  width: 100%
  background: 0 0
  text-align: left
  color: inherit

.fem-card label
  font-size: 12px;
  font-weight: bold


*:focus
  outline: none

.file_input
  float: left

#file_input_text_div
  width: 200px !important
  margin-top: -8px
  margin-left: 5px

.none
  display: none
