@import '../styles'
@import url('http://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en');

body
  background-color bg-color
  font-family 'Open Sans', sans-serif;

h1,h2
  font-family 'Open Sans', sans-serif;

.nav, .pagination, .carousel, .panel-title a
  cursor: pointer


.content .mdl-layout__header
  background-color  header-color

.content .mdl-spinner
  margin: 0 auto

.mdl-layout__header-row .mdl-navigation__link

  font-size 13px
  font-weight bold
  line-height 13px
  text-transform uppercase

.header-image
  background:  url('../images/header_1.png') center bottom
  background-size cover
  background-repeat no-repeat
  min-height 130px

.mdl-navigation__link--icon>.material-icons
  margin-right: 8px
  margin-top: 8px

.page-content
  max-width: 960px
  width: 100%
  margin: 0 auto
  padding: 0
  padding-top 64px

.fem-card.mdl-card
  width: 100%
  min-height: inherit
  cursor: pointer
  position relative

.fem-card .mdl-textfield
  width: 100%;

.fem-card .mdl-textfield__input
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .12)
  display: block
  font-size: 16px
  margin: 0
  padding: 4px 0
  width: 100%
  background: 0 0
  text-align: left
  color: inherit

.fem-card label
  font-size: 12px;
  font-weight: bold


*:focus
  outline: none

.file_input
  float: left

#file_input_text_div
  width: 200px !important
  margin-top: -8px
  margin-left: 5px
  padding-top:12px;

.radial

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50,50,50,0.8)),to(rgba(80,80,80,0.2)), color-stop(.5,#333333))
  position absolute

  top 0
  left 0
  width 100%
  height 100%
.footer-image

   position: relative;
   background:  url('../images/road.jpg')  center center
   background-size cover
   background-repeat no-repeat


.business-image

   position: relative;
   background:  url('../images/business-meeting-room-blue-website-header.jpg')  center bottom
   min-height 200px
   background-size cover
   background-repeat no-repeat
   h2
     color #F3F1E2
     padding-top:100px;

.none
  display: none
