
<div class="schemaUI">
<div class="title"><h1>Schema Update Tool</h1></div>
<section class="load">
  
  <span>You have two options to import a schema. </span>
    <ul><li>Option 1, Load the schema using the schema API by entering in your solr collection url.</li>
    <li>Option 2, Import the data by loading the schema.xml. preferably choose option 1.</li>

  <label>Click here to load solr schema.xml file</label>
  <button>Load</button>
</section>

  <section class="solrUrl">
  <label for="solrCollectionUrl">Collection URL</label>
  <input type="text" name="solrCollectionUrl"  required ng-model="vm.solrCollectionUrl"/>
  <!--TODO: load a schema.xml -->
  <button ng-click="exportSchema()">Export</button>
  </section>

  <section class="solrTypes">
    <h2>Field Types</h2>
    <form>
    <label for="fieldName">Name</label>
    <input type="text" name="fieldName" ng-model="fieldTypes.fieldName" />
      <label for="fieldName">Field Type</label>
    <input type="text" name="fieldType" ng-model="fieldTypes.fieldType" />
    <button ng-click="vm.addFieldType(fieldTypes)">Add</button>
    </form>
     <div  class="itemContainer">
       <div class="items" ng-repeat="item in vm.solrTypes track by $index">
         <span ng-class="{'newItem' : item.isNew }" ng-bind="item.fieldName"></span>
         <button class="destroy" ng-click="removeFieldType(item,$index)"><i class="fa fa-times"></i></button>
       </div>
    </div>
  </section>

  <section class="solrfields">
    <h2>Fields</h2>
      <form>
        <label for="fieldName">Field Name</label>
      <input type="text" name="fieldName" ng-model="fieldDef.fieldName" />
        <label for="fieldName">Field Type</label>
      <input type="text" name="fieldType" ng-model="fieldDef.fieldType" />
      <button ng-click="vm.addField(fieldDef)">Add</button>

    </form>
    <div  class="itemContainer">
    <div  class="items" ng-repeat="item in vm.solrFields track by $index">
      <span ng-class="{'newItem' : item.isNew }" ng-bind="item.fieldName"></span>
      <button class="edit"><i class="fa fa-pencil"></i></button>
      <button class="destroy" ng-click="removeField(item,$index)"><i class="fa fa-times"></i></button>
    </div>
    </div>
  </section>

  <section class="SolrCopyFields">
    <h2>Copy Fields</h2>
    <div>
      <input type="text" placeholder="Copy From" ng-modal="copyItems.copyFrom"/>
      <input type="text" placeholder="Copy Destination" ng-modal="copyItems.copyTo"/>
      <button ng-click="addCopyField(copyItems)">Add</button>
    </div>
    <ul ng-repeat="item in vm.solrCopyFields track by $index">
       <li>
        
       <label for="copyFrom">From:</label>
       <span name="copyFrom" ng-model="item.copyFrom" />
       <label for="copyTo">To:</label>
       <span ng-model="item.copyTo" />
       <button class="destroy" ng-click="removeCopyField(item,$index)"><i class="fa fa-times"></i></button>
       </li>

    </ul>
  </section>
</div>
