@import '../../../styles'

.title
  center(600px)
  text-align center


.itemContainer
  center()
  max-height 400px
  overflow-y auto
  overflow-x hidden
  padding 15px
  clear both
  background-color #5C5B5B
  ul
    list-style none
    text-decoration none


  .items
    padding 20px


.solrfields
  center()
  text-align left

.itemDescription
  padding:10px
  float:left
  text-align:left

.newItem
  font-style italic
  color new-color
.removeItem
  font-style italic
  color red

.newChanges
  padding-top:20px

.moveRight
  clear both
  float right
