@import '../../../styles'
.schemaUI
  center()
.title
  center(600px)
  text-align center
  h1
    font-size 3rem
  h3
    font-size 2rem
  *
    font-weight 300
form
  padding 10px 16px
  border 2px solid
  border-color #D4D4D4
  border-radius 7px
  margin-bottom 10px
.itemContainer
  center()
  max-height 400px
  overflow-y auto
  overflow-x hidden
  padding 15px
  clear both
  background-color #5C5B5B
  ul
    list-style none
    text-decoration none


  .items
    span(1/3)
    color white
    position relative
    text-align right

    border-color #eee

    button
      padding 2px
      min-width 24px
      min-height 12px

.solrfields
  center()
  text-align left
.itemDescription
  padding:10px
  float:left
  text-align:left
.newItem
  font-style italic
  color new-color

.newChanges
  padding-top:20px
