
<div class="schemaUI">
<div class="title"><h1>Schema Update Tool</h1></div>
<section class="load">

  <span>You have two options to import a schema. </span>
    <ul><li>Option 1, Load the schema using the schema API by entering in your solr collection url.</li>
    <li>Option 2, Import the data by loading the schema.xml. preferably choose option 1.</li>

  <label>Click here to load solr schema.xml file</label>
  <form  enctype="multipart/form-data" method="post" action="{{formAction}}">
  <input type="file" name="xmlschema" size="0"/>
  <input class="button" type="submit" value="Load"/>
  </form>
</section>

  <section class="solrUrl">
  <h1>Collection URL</h1>
  <input type="text" name="solrCollectionUrl"  required ng-model="vm.solrCollectionUrl"/>
  <label>Click here to import solr schema from server</label>
  <!--TODO: load a schema.xml -->
  <button ng-click="vm.importSchema()">Import</button>
  <span ng-show="vm.imported">Successfully, imported data.</span>
  </section>
<section ng-show ="vm.schema">
  <section class="solrTypes">
    <h2>Field Types</h2>
    <div ui-view="addFieldType"></div>
     <button ng-click="vm.newFieldType()">Add New Type</button>
    <button ng-click="isAddNewFieldType = !isAddNewFieldType">Filter New Type</button>
    <br/>
  <label>Your field types</label>
     <div  ng-show=" vm.solrTypes.length> 0"  class="itemContainer">
       <div class="items" ng-repeat="item in vm.solrTypes track by $index">
         <div class="itemDescription" style="">
         <span ng-class="{'newItem' : item.isNew }" ng-bind="item.name"></span>
         </div>
         <button class="destroy" ng-click="vm.removeFieldType(item,$index)"><i class="fa fa-times"></i></button>
       </div>
    </div>
  </section>

  <section class="solrfields">
    <h2>Fields</h2>
      <form>
        <label for="fieldName">Field Name</label>
      <input type="text" name="fieldName" ng-model="fieldDef.name" />
        <label for="fieldName">Field Type</label>
      <input type="text" name="fieldType" ng-model="fieldDef.type" />
      <button ng-click="vm.addField(fieldDef)">Add</button>

    </form>
    <div ng-show=" vm.solrFields.length> 0" class="itemContainer">
    <div  class="items" ng-repeat="item in vm.solrFields track by $index">
    <div class="itemDescription" style="">
      <span ng-class="{'newItem' : item.isNew }" ng-bind="item.name"></span>
      </div>
      <button class="edit"><i class="fa fa-pencil"></i></button>
      <button class="destroy" ng-click="vm.removeField(item,$index)"><i class="fa fa-times"></i></button>
    </div>
    </div>
  </section>

  <section class="solrCopyField">
    <h2>Copy Fields</h2>
      <form>
        <label for="fieldName">Copy Destination</label>
      <input type="text" name="fieldName" ng-model="cpItems.dest" />
        <label for="fieldName">Copy Source</label>
      <input type="text" name="fieldType" ng-model="cpItems.source" />
      <button ng-click="vm.addCopyField(cpItems)">Add</button>

    </form>
    <div  ng-show=" vm.solrCopyFields.length > 0" class="itemContainer">
    <div  class="items" ng-repeat="item in vm.solrCopyFields track by $index">
    <div class="itemDescription">
    <ul>
        <li>Destination: <span ng-class="{'newItem' : item.isNew }" ng-bind="item.dest"></span></li>
        <li>Source: {{item.source}} </li>
        <li>      <button class="edit"><i class="fa fa-pencil"></i></button>
      <button class="destroy" ng-click="vm.removeCopyField(item,$index)"><i class="fa fa-times"></i></button>
      </li>
      </ul>
      </div>

    </div>
    </div>
  </section>
</section>
</div>
