<div  ng-init="vm.init()" class="fem-card mdl-card mdl-shadow--2dp">
<div class="mdl-card__title">  <h3 ng-if="!vm.editMode">Create Type</h3><h3 ng-if="vm.editMode">Edit Type</h3>
</div>
     <div class="mdl-card__supporting-text">
<ng-form name="vm.itemDetails" auto-complete="false" no-validate>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input  ng-disabled="vm.editMode" class="mdl-textfield__input" type="text" autocomplete="off" name="name" ng-model="vm.fieldType.name" />
    <label class="mdl-textfield__label" for="name">Name</label>
  </div>
   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input  class="mdl-textfield__input" type="text" autocomplete="off"  name="class" ng-model="vm.fieldType.class"/>
    <label class="mdl-textfield__label" for="class">Class</label>
   </div>
    <params binding-to="vm.params"></params>
  <br/>
  <hr/>

    <div  class="analyzer">
        <h4>Tokenizer</h4>

      <mat-radio name="indexQueryType" selected-Item ="vm.tokenizerType" value="indexquery"></mat-radio><label>Index &amp; Query</label>
         <mat-radio name="separateType" selected-Item ="vm.tokenizerType" value="separate"></mat-radio><label>Separate</label>


        <div  ng-if="vm.tokenizerType == 'separate'">
             <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input  class="mdl-textfield__input" type="text" autocomplete="off" name="tokenclass" ng-model="vm.tokenizer.index.tokenizer.class" />
            <label class="mdl-textfield__label" for="tokenclass">Index</label>
             </div>

             <div  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input  class="mdl-textfield__input" type="text" autocomplete="off" name="querytokenclass" ng-model="vm.tokenizer.query.tokenizer.class" />
            <label class="mdl-textfield__label" for="querytokenclass">Query</label>
           </div>

        </div>

            <div  ng-if="vm.tokenizerType == 'indexquery'"  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input  class="mdl-textfield__input" type="text" autocomplete="off" name="tokenclass" ng-model="vm.tokenizer.class" />
        <label class="mdl-textfield__label" for="tokenclass">Name</label>
      </div>

        <!-- Tokenizer params -->
       <params binding-to="vm.tokenizerParams"></params>

      <filters binding-to="vm.filters"></filters>
    </div>

<div>
<label >
 <button ng-click="vm.cancel()" class="mdl-cell--bottom mdl-button mdl-js-button mdl-js-ripple-effect">CANCEL</button>
 <button  ng-click="vm.save()" class="mdl-cell--bottom mdl-button mdl-js-button mdl-js-ripple-effect">SAVE</button>
</label>
</div>
</ng-form>
</div>
</div>
