<div  class="fem-card mdl-card mdl-shadow--2dp">
<div class="mdl-card__title">  <h2 ng-if="!vm.editMode">Create Type</h2><h2 ng-if="vm.editMode">Edit Type</h2>
</div>
     <div class="mdl-card__supporting-text">
<ng-form name="vm.itemDetails" auto-complete="false" no-validate>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input  class="mdl-textfield__input" type="text" autocomplete="off" name="name" ng-model="vm.fieldType.name" />
    <label class="mdl-textfield__label" for="name">Name</label>
  </div>
   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input  class="mdl-textfield__input" type="text" autocomplete="off"  name="class" ng-model="vm.fieldType.class"/>
    <label class="mdl-textfield__label" for="class">Class</label>
   </div>

  <div class="">
    <div ng-if="fieldTypes.analyzer.indexAnalyzer">
    Index analyzer
    <ul ng-repeat = "item in fieldTypes.analyzer.indexAnalyzer">
      <li><analyzer item="item" ></analyzer></li>
  </ul>
  </div>
   <div ng-if="fieldTypes.analyzer.queryAnalyzer">

      Query analyzer
    <ul ng-repeat = "item in vm.fieldTypes.analyzer.queryAnalyzer">
      <li><analyzer item="item" ></analyzer></li>
  </ul>
  </div>
   <div ng-if="fieldTypes.analyzer.Analyzer">
      Analyzer
    <ul ng-repeat = "item in vm.fieldTypes.analyzer.analyzer">
      <li><analyzer item="item" ></analyzer></li>
  </ul>
  </div>

  </div>

  <div class="optParams" ng-repeat="item in optParams track by $index">
      <span>{{item.name}}={{item.value}}</span>
  </div>

  <div name="form2" no-validate >
    <params binding-to="vm.params"><params>
  </div>
  <br/>
    <button ng-click="vm.toggleAnalyzer = !vm.toggleAnalyzer" class="mdl-cell--bottom mdl-button mdl-js-button mdl-js-ripple-effect">Add/Change Analyzer</button>
    <div ng-show = "vm.toggleAnalyzer" class="analyzer">

        <input name="tokenizerType" ngModel="vm.tokenizerType" value="indexquery" type="radio"  checked>Index &amp; Query
        <label>
        <input  ng-model="vm.tokenizerType" value="separate"  name="tokenizerType" type="radio" />Separate
        </label>

        <h4>Tokenizer</h4>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input  class="mdl-textfield__input" type="text" autocomplete="off" name="tokenclass" ng-model="vm.tokenizerClass" />
    <label class="mdl-textfield__label" for="tokenclass">Name</label>
  </div>

        <!-- Tokenizer params -->
        Tokenizer Parameters
       <params binding-to="vm.tokenizerParams"></params>
      <div class="clearfix"></div>
      <filters binding-to="vm.filters"></filters>
    </div>
<div>
<label >
 <button ng-click="vm.cancel()" class="mdl-cell--bottom mdl-button mdl-js-button mdl-js-ripple-effect">CANCEL</button>
 <button  ng-click="vm.addFieldType()" class="mdl-cell--bottom mdl-button mdl-js-button mdl-js-ripple-effect">SAVE</button>
</label>
</div>
</ng-form>
</div>
</div>
